.profile {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 74px);
  max-width: 410px;
  margin: 0 auto;
  padding: 74px 0 70px 0;
  box-sizing: border-box;
  align-items: center;
}

.profile__title {
  text-align: center;
  margin: 0 0 107px 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 500;
}

.profile__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 20px;
  padding: 16px 0;
}

.profile__item:not(:last-of-type) {
  border-bottom: 1px solid #424242;
}

.profile__item-name {
  margin: 0;
  font-size: 11px;
  line-height: 1.21;
  width: max-content;
}

.profile__item-input {
  flex-grow: 1;
  text-align: end;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 11px;
  line-height: 1.21;
  color: #fff;
}

.profile__item-input::placeholder {
  color: #fff;
}

.profile__item-input:focus {
  outline: none;
}

.profile__success {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.21;
  color: #4285F4;
  font-size: 11px;
  width: max-content;
  opacity: 0;
  transition: opacity .3s ease;
}

.profile__success_active {
  opacity: 1;
}

.profile__error {
  position: absolute;
  line-height: 1.21;
  color: #EE3465;
  opacity: 0;
  transition: opacity .3s ease;
}

.profile__error-item {
  font-size: 10px;
  bottom: 3px;
  left: 0;
}

.profile__error-form {
  font-size: 11px;
  bottom: 75px;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__error_active {
  opacity: 1;
}

.profile__cancellation {
  font-size: 11px;
  color: #4285F4;
  cursor: pointer;
  position: absolute;
  bottom: -15px;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__btn {
  border: none;
  padding: 0;
  background-color: transparent;
  width: max-content;
  font-size: 13px;
  line-height: 1.21;
  cursor: pointer;
}

.profile__btn:first-of-type {
  margin: 204px 0 16px 0;
}

.profile__btn-edit {
  color: #fff;
}

.profile__btn-logout {
  color: #EE3465;
  font-weight: 500;
}

.profile__btn-save {
  width: 100%;
  border: none;
  background-color: #4285F4;
  border-radius: 3px;
  height: 45px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
}

.profile__btn-save:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: default;
}

@media (max-width: 768px) and (min-height: 1024px) {
  .profile {
    padding: 236px 0 269px 0;
  }
}

@media (max-width: 450px) {
  .profile {
    padding: 70px 30px 40px 30px;
  }

  .profile__title {
    margin: 0 0 80px 0;
  }

  .profile__btn {
    font-size: 12px;
  }
}

@media (max-width: 450px) and (min-height: 780px) {
  .profile__btn:first-of-type {
    margin: 363px 0 16px 0;
  }
}
