.page {
  min-height: 100vh;
  background-color: #202020;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

.hovered {
  transition: opacity .3s ease;
}

.hovered:not([disabled]):hover {
  opacity: .7;
}
