.main-title {
  margin: 0;
  font-size: 22px;
  line-height: 1.21;
  font-weight: 400;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

@media (max-width: 576px) {
  .main-title {
    font-size: 18px;
  }
}
