.portfolio__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;
  color: #8B8B8B;
}

.portfolio__list {
  padding: 0;
  list-style: none;
  margin: 50px 0 0 0;
}

.portfolio__item {
  border-bottom: 1px solid #424242;
  background-image: url('../../../../images/link-arrow.svg');
  background-position: right 0 center;
  background-repeat: no-repeat;
}

.portfolio__item:last-child {
  border: none;
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  line-height: 1.66;
  display: block;
  padding: 20px 0 19px 0;
}

@media (max-width: 862px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 1.78;
  }
}

@media (max-width: 690px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 1.42;
  }

  .portfolio__list {
    margin: 40px 0 0 0;
  }

  .portfolio__item {
    background-size: 14px 13px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 1.55;
  }
}

@media (max-width: 340px) {
  .portfolio__link {
    font-size: 14px;
    line-height: 1.55;
  }
}
